/*
Ez a file mindig betöltődik függetlenül a képernyő méretétől. Itt található a legtöbb tartalmi elemre vonatkozó defeinició. Csak olyan tulajdonságot definiálj ebben a fileban ami biztosan megfeleően fog működni váltakozó képernyő szélleség esetén is
*/

/*********************************************
 Globális stilus definiciók az oldal keretéhez 
 *********************************************/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background: #f2f5f3;
	color: #6b7770;
	font-size: 11.5pt;
	line-height: 2em;
}
h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #6b7770;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a {
	text-decoration: none;
	color: inherit;
}
a {
	color: #006376;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: blink;
}
br.clear {
	clear: both;
}
p, ul, ol, dl, table {
	margin-bottom: 1em;
}
section, article {
	margin-bottom: 1em;
}
.centered {
	text-align: center;
	margin: 0 auto;
}
.leftalign {
	text-align: left;
	float: left;
}
.rightalign {
	text-align: right;
	float: right;
}
.rounded20 {
	border-radius: 20px;
}
.rounded10 {
	border-radius: 10px;
}
.csokkentettsorkoz {
	line-height: 1.2em;
}
#whitespace {
	height: 1.5em;
}
/**************************************************
 Globális stilus definiciók az oldal keretéhez VÉGE
 *************************************************/

/*********
Effektek
*********/

/*********************
Gomb lenyomás effekt 
**********************/
.pushdown {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 1px 3px #000;
	-moz-box-shadow: 0px 1px 3px #000;
	-webkit-box-shadow: 0px 1px 3px #000;
}
.pushdown:hover {
	position: relative;
	top: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
/*********************
Gomb lenyomás effekt VÉGE
**********************/

/************************************************
Drop shadow effect - Végül/még nicns felhasználva
*************************************************/
.dropshadow {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/************************************************
Drop shadow effect - VÉGE
*************************************************/		

/*************************************************************************************************************************
Banner pixel overlay effekt. Ez egy trükk amivel összenyomott képeket, jelníthetünk meg a szemnek kissé kellemesebb módon. 
**************************************************************************************************************************/
		
.image:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/overlay.png');
	opacity: 0.2;
	border-radius: 8px;
}
/*********************************
Banner pixel overlay effekt. VÉGE 
*********************************/

/*************
Effektek VÉGE
**************/
/***************************************
Az oldal egyedi elemeinek tulajdonságai
***************************************/

/*****
Gombok
******/

.button {
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background: #e3daa8;
	color: #006376;
	border-radius: 8px;
	outline: 0;
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.button:hover {
	background: #ebe3b2;
}
.button-alt {
	background: #c1cac5;
}
.button-alt:hover {
	background: #ccd5d0;
}
/***************
Gombok VÉGE
***************/
/******
Banner                                                             
*******/

#banner-wrapper {
	position: relative;
	background: url('../images/banner.jpg') center center no-repeat;
	background-size: cover;
	z-index: 1;
	height: 325px;
	padding-top: 5em;
}
#banner-wrapper:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/overlay.png');
	opacity: 0.175;
}
#banner {
	position: relative;
	background: rgba(21, 28, 23, 0.95);
	text-align: center;
	height: 225px;
	margin: 0 auto;
	z-index: 2;
}
#banner:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/highlight.png') center center;
	background-size: 100% 200%;
}
#banner > * {
	position: relative;
	z-index: 3;
}
#banner h2 {
	color: #fff;
}
#banner .byline {
	color: #575d59;
}

/**********
Banner VÉGE                                                            
***********/
/*************************************************************************
Karikák doboz EZ EGYBEN AZ 1200px SZÉLES, MINDENT MAGÁBAN FOGLALÓ DOBOZ IS
**************************************************************************/

#main {
}
#main-wrapper {
	background: #fff;
	border-top: solid 5px #C1CAC5;
}
ul.special {
}
ul.special li {
	position: relative;
	display: inline-block;
	margin: 0 1.5em 0 1.5em;
	top: 0;
	-moz-transition: top .15s ease-in-out;
	-webkit-transition: top .15s ease-in-out;
	-o-transition: top .15s ease-in-out;
	-ms-transition: top .15s ease-in-out;
	transition: top .15s ease-in-out;
}
ul.special li:hover {
	top: -15px;
}
ul.special a {
	display: block;
	position: relative;
	background: #c1cac5;
	width: 12em;
	height: 12em;
	border-radius: 6em;
	text-indent: -9999em;
	outline: 0;
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
ul.special a:before {
	content: '';
	position: absolute;
	width: 128px;
	height: 128px;
	left: 50%;
	top: 50%;
	margin-top: -64px;
	margin-left: -64px;
	background: url('images/icons-special.png');
}
ul.special a.info:before {
	background-position: 0px 0px;
}
ul.special a.info:hover {
	background: #aee1ae;
}
ul.special a.rolunk:before {
	background-position: -128px 0px;
}
ul.special a.rolunk:hover {
	background: #E3DAA8;
}
ul.special a.infrastructure:before {
	background-position: -256px 0px;
}
ul.special a.infrastructure:hover {
	background: #b9d2ce;
}
ul.special a.contact:before {
	background-position: -384px 0px;
}
ul.special a.contact:hover {
	background: #dfdfd1;
}

/**********************
karikák Doboz VÉGE
***********************/

/********************************************
Az oldal egyedi elemeinek  tulajdonságai VÉGE
********************************************/

/**********************************
Az egyes szekciók tulajdonságai
***********************************/
#rolunk-container, #aktualis-container, #infrastruktura-container, #kapcsolat-container {
	padding: 3em 0;
	border-top: 10px solid #C1CAC5;
	
}
h2.rolunk, h2.aktualis, h2.infrastruktura, h2.kapcsolat {
	position: relative;
	border-top: solid 5px #6B7770;
}
h2.rolunk span, h2.aktualis span, h2.infrastruktura span, h2.kapcsolat span {
	position: relative;
	display: inline-block;
}
#rolunk-container span, #aktualis-container span, #infrastruktura-container span, #kapcsolat-container span {
	line-height: 1em;
	}
/******************
Rólunk szekció
*******************/
#rolunk-container {
	background: #E3DAA8;
}
h2.rolunk span {
	background: #E3DAA8;
}

/****************************
Bruce Schneider neve - Idézet
****************************/
#idezet {
	font-style: italic;
}
 
ul.idezet {
	font-size: 0.85em;
	color: #a1aaa5;
}
ul.idezet li {
	position: relative;
	display: inline-block;
	padding-left: 24px;
	margin-left: 1em;
}
ul.idezet li a {
	color: inherit;
	outline: 0;
}
ul.idezet li:first-child {
	margin-left: 0;
}
ul.idezet li:before {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 50%;
	margin-top: -8px;
	background: url('images/icons-meta.png');
}
ul.idezet li.comments:before {
	background-position: -16px 0px;
}
/**********************************
Bruce Schneider neve - Idézet VÉGE
***********************************/

/*********
Alapelvek
*********/
#alapelvek_container {
	padding-top: 1em;
	width: 300px;
	border: 0;
}
a.alapelvek_lista {
	text-decoration: none;
}
a.alapelvek_lista:hover {
	text-transform: uppercase;
	color: #FFF;
	border-radius: 4px;
	padding: 10px;
}
#alapelvek {
	text-transform: capitalize;
	font-weight: bold;
	width: 300px;
}
#fenntarthatosag, #onkentesseg, #meritokracia, #belepes, #transzparencia, #nyitottsag {
	display: none;
}
/**************
Alapelvek VÉGE
***************/


/******************
Rolunk szekció VÉGE
*******************/

/***********************
Infrastruktúra szekció
************************/
#infrastruktura-container {
	background: #b9d2ce;
}
h2.infrastruktura span {
	background: #b9d2ce;
}
.infrastructure_list_container {
	width: 50% auto;
}
.infrastructure_list_container section {
	text-align: left;
	list-style-type: square;
	padding-top: 1em;
}
.infrastructure_list_container ul {
	text-align: left;
	list-style-type: square;
	padding-top: 1em;
}
.infrastructure_list_container a:hover {
	color: #FFF
}
/**************************
Infrastruktúra szekció VÉGE
***************************/

/***************************
Aktuális Információk szekció
****************************/
#aktualis-container {
	background: #aee1ae;
}
h2.aktualis span {
	background: #aee1ae;
}
/********************************
Aktuális Információk szekció VÉGE
*********************************/

/*****************
Kapcsolat szekció
******************/
#kapcsolat-container {
	background: #dfdfd1;
}
h2.kapcsolat span {
	background: #dfdfd1;
}
#contactform input {
	width: 250px;
}
#contactform textarea {
	width: 250px;
}
/***********************
Social csatornák ikonjai
************************/
ul.contact {
	text-align: left;
}
ul.contact li {
	position: relative;
	display: inline-block;
	margin: 0 0.25em 0 0.25em;
	top: 0;
	-moz-transition: top .15s ease-in-out;
	-webkit-transition: top .15s ease-in-out;
	-o-transition: top .15s ease-in-out;
	-ms-transition: top .15s ease-in-out;
	transition: top .15s ease-in-out;
}
ul.contact li a {
	display: block;
	position: relative;
	background: #c1cac5 url('images/icons-contact.png');
	width: 48px;
	height: 48px;
	text-indent: -9999em;
	border-radius: 6px;
	outline: 0;
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
ul.contact li a.facebook {
	background-position: 0px 0px;
}
ul.contact li:hover a.facebook {
	background-color: #3C5A98;
}
ul.contact li a.twitter {
	background-position: -48px 0px;
}
ul.contact li:hover a.twitter {
	background-color: #2DAAE4;
}
ul.contact li a.soup {
	background-position: -96px 0px;
}
ul.contact li:hover a.soup {
	background-color: #C40002;
}
ul.contact li:hover {
	top: -5px;
}
ul.contact li:active {
	top: 0;
}
/*****************************
Social csatornák ikonjai VÉGE
******************************/
/*********************
Kapcsolat szekció VÉGE
**********************/

/*****
Footer  
*****/

#footer {
	border-top: 10px solid #C1CAC5;
}
#footer a {
	color: inherit;
}
/**************
Copyright doboz
***************/

#copyright {
	display: inline-block;
	background: #e7eae8;
	padding: 0.75em 2em 0.75em 2em;
	border-radius: 8px;
	font-size: 0.85em;
	color: #8b9790;
}
#copyright a {
	color: inherit;
}
/*******************
Copyright doboz VÉGE
********************/
/***********
Footer  VÉGE 
************/