/*
	A style.css mellet, zz a file töltődik be a legtöbb esetben amikor laptoprol vagy PC-ről töltik be az oldalt
*/

/*********************************************************************************
Globális tilusjegyek                                                                   
*********************************************************************************/

body {
	min-width: 1200px;
}
h1, h2, h3, h4, h5, h6, h7 {
	margin: 0 auto;
}
h2 {
	font-size: 1.65em;
}
h2.major {
	font-size: 1.65em;
	text-align: center;
	margin: 0 0 3em 0;
}
h2.major span {
	top: -0.775em;
	padding: 0 1.5em 0 1.5em;
}
#footer h2.major {
	margin: 0 0 1em 0;
}
.sidebar h2.major {
	text-align: left;
	margin: 0 0 1em 0;
}
.sidebar h2.major span {
	padding-left: 0;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1.25em;
}
.button {
	font-size: 1.25em;
	padding: 0.85em 1.85em 0.85em 1.85em;
}
.button-big {
	font-size: 1.65em;
	padding: 0.85em 1.85em 0.85em 1.85em;
}
.actions {
	text-align: center;
	margin: 2em 0 0 0;
}
.actions .button {
	margin: 0 0.5em 0 0.5em;
}
/*********************************************************************************/
/* Paragrafusok stilusjegyei                                               */
/*********************************************************************************/

.is-highlight {
}
.is-highlight .special {
	margin: 0 0 4em 0;
}
.is-highlight h2 {
	font-size: 3em;
	margin: 0 0 0.75em 0;
}
.is-highlight .byline {
	font-size: 1.65em;
	margin: 0 0 1.5em 0;
}
.is-feature {
	text-align: justify;
}
.is-feature h2, ul {
	text-align: center;
}
.is-post {
}
.is-post header {
	margin: 0 0 2.5em 0;
}
.is-post h3 {
	font-size: 3em;
	margin: 0 0 0.5em 0;
}
.is-post .byline {
	font-size: 1.65em;
	margin: 0 0 0.5em 0;
}
.is-post ul.meta {
	margin: 0 0 0.5em 0;
}
.is-post-summary {
}
.is-post-summary h3 {
	line-height: 1em;
	margin: 0 0 0.75em 0;
}
.is-post-summary .meta {
	margin: 0;
	line-height: 1em;
}
.is-page-content {
}
.is-page-content header {
	margin: 0 0 2.5em 0;
}
.is-page-content h2 {
	font-size: 3em;
	margin: 0 0 0.5em 0;
}
.is-page-content .byline {
	font-size: 1.65em;
	margin: 0 0 0.5em 0;
}
.is-page-content ul.meta {
	margin: 0 0 0.5em 0;
}
/*
 Sidebar + Tartalom. Egyelőre nicns sidebar, de ez változhat. Legalább 960pixel széles ablaknál van értelme ezéert itt határozd meg a jegyeit                                                             */

.sidebar {
	padding-top: 0.5em;
}
.homepage .sidebar {
	padding-top: 0;
}
.content {
}
.content-left {
	padding-right: 2em;
}
.content-right {
	padding-left: 2em;
}
/*********************************************************************************
 Banner                                                              
*********************************************************************************/

#banner-wrapper {
	padding: 5em 0 0 5em 0;
}
#main-wrapper {
	border-top-width: 10px;
	border-bottom-width: 10px;
}
#banner {
	padding: 7em 0 5em 0;
	width: 500px;
	border-radius: 5px;
}
#banner h2 {
	font-size: 2.75em;
	margin: -2em 0 0.4em 0;
}
#banner .byline {
	font-size: 1.35em;
	margin: 0 0 0.05em 0;
}
/*
 Hacksense Doboz 
 */
.hacksense {
	padding-top: 1em;
	margin: 0 auto;
	height: 50px;
	width: 206px;
	background: url(../images/hacksense_open.png);
}
.hacksense:hover {
	padding-top: 1em;
	margin: 0 auto;
	height: 50px;
	width: 206px;
	background: url(../images/hacksense_closed.png);
}
.hacksense-mobile {
	display: none;
}
/*********************************************************************************
 Header                                                                        
*********************************************************************************/

#header {
	text-align: center;
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 6em 0 3em 0;
	background: #fff;
	margin: 0 auto;
}
#header .logo {
	position: relative;
	text-align: center;
	border-top: solid 5px #999;
}
#header .logo div {
	background: #fff;
	position: relative;
	display: inline-block;
	padding: 0 1.5em 0 1.5em;
	top: -0.65em;
}
#header .logo h1, #header .logo .byline {
	display: inline;
}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: rgba(255,255,255,0.95);
	width: 100%;
	height: 3.5em;
	line-height: 3.5em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
#nav:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/overlay.png');
	opacity: 0.03;
}
#nav ul {
	position: relative;
	z-index: 1001;
}
#nav li {
	display: inline-block;
	margin: 0 0.5em 0 0.5em;
	top: 0;
	position: relative;
	-moz-transition: top .15s ease-in-out;
	-webkit-transition: top .15s ease-in-out;
	-o-transition: top .15s ease-in-out;
	-ms-transition: top .15s ease-in-out;
	transition: top .15s ease-in-out;
}
#nav li a {
	position: relative;
	display: block;
	text-decoration: none;
	color: #6b7770;
	top: -3px;
	padding: 3px 1.5em 0.25em 1.5em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: 0;
	-moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
	-webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
	-o-transition: background-color .075s ease-in-out, color .075s ease-in-out;
	-ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
	transition: background-color .075s ease-in-out, color .075s ease-in-out;
}
#nav li:hover {
	top: 3px;
}
#nav li:hover a {
	background: #C1CAC5;
	color: #fff;
}
#nav li.current_page_item {
}
#nav li.current_page_item a {
	background: #e3daa8;
	color: #fff;
}
/*********************************************************************************
A Main Content Dobozt itt felülvezérelheted a style.ss azonban ezt is felulirja
*********************************************************************************/

#main {
	padding: 0.2em 0 0 0;
}
#main > .row {
	padding: 3em 0 0 0;
}
/*********************************************************************************
A Footert itt felülvezérelheted   style.ss azonban ezt is felulirja
*********************************************************************************/
#footer {
	text-align: center;
	padding: 8em 0 8em 0;
}
#footer > .row {
	padding: 2em 0 2em 0;
}
/*
Copyright doboz
*/

#copyright {
	margin: 4em 0 0 0;
}
/*********************************************************************************
Rolunk szekcio
*********************************************************************************/

h2.rolunk {
	font-size: 1.65em;
	text-align: center;
	margin: 0;
}
h2.rolunk span {
	top: -0.775em;
	padding: 0 1.5em 0 1.5em;
}
#interested {
	text-align: center;
	margin: 0 auto;
	padding-top: 2em;
}
#interested .button {
	margin-top: 1em;
}
/*********************************************************************************
Aktualis szekcio
*********************************************************************************/

h2.aktualis {
	font-size: 1.65em;
	text-align: center;
	margin: 0;
}
h2.aktualis span {
	top: -0.775em;
	padding: 0 1.5em 0 1.5em;
}
/*********************************************************************************
infrastruktura szekcio
*********************************************************************************/
#infrastruktura-img {
	width: 50% auto;
	height: 320px;
	background: url(../images/infrastructure_big.png) no-repeat right;
}
#infrastruktura-container {
	padding: 3em 0;
}
h2.infrastruktura {
	font-size: 1.65em;
	text-align: center;
	margin: 0;
}
h2.infrastruktura span {
	top: -0.775em;
	padding: 0 1.5em 0 1.5em;
}
.infrastructure_list_container {
	line-height: 1.2em;
}
#visitus {
	text-align: center;
	margin: 0 auto;
	padding-top: 2em;
}
#visitus .button {
	margin-top: 1em;
}
